services:
  - name: connectedu-api 
    type: web
    repo: https://github.com/Natethebuilder/ConnectEdu
    runtime: node
    plan: free
    branch: main
    rootDir: server
    buildCommand: npm install && npm run build
    startCommand: npm run start
    region: frankfurt
    autoDeployTrigger: commit
    envVars:
      - key: MONGO_URI
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGIN
        sync: false
      - key: PORT
        sync: false